
.tag{
  border: 1px black solid;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-inline: 4px;
  background-color: red;
  color: white;
  font: bold;
  white-space: nowrap;
  margin: 5px;
  height: 25px;
}

.tagRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}