.card{
  background-color: white;
  border: 3px black solid;
  border-radius: 15px;
  display: inline-grid;
  margin: 3%;
  padding: 16px;
  width: 30%;
  animation: pulseShadow 3s infinite linear;
}

@keyframes pulseShadow {
  0%, 100% {
    box-shadow: 0 0 0 0;
  }
  50% {
    box-shadow: 0 0 100px -30px #FFFFFF;
  }
}

.widecard{
  width: 90%;
}

p {
  font-size: min(20px, 3vw);
}

img {
  border-radius: 100%;
  border: 2px black solid;
  transition: transform 0.3s ease-in-out;
}

img:hover{
  transform: scale(1.15);
}