nav {
  font-size: 125%;
  height: 60px;
  padding: 0%;
  display: flex;
  width: 100vw;
  justify-content: center;
}

nav:hover{
  box-shadow: 0px 5px 25px -2px white;
}

.navButton{
  color: white;
  padding: 15px;
  padding-inline: 25px;
  width: fit-content;
  font-weight: bold;
}

.navButton:hover{
  background-color: #77dfffa9;
}

.navButton a,
.navButton a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}