span{
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    color: #4cd7de;
}

@keyframes glow {
  from {
    text-shadow: 0 0 30px #fff
                 /* 0 0 30px #4cd7de; */
  }
  to {
    text-shadow: 0 0 60px #fff
                 /* 0 0 50px #4cd7de; */
  }
}

span:hover{
  text-shadow:0 0 10px white;
}