:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

html {
  background-color: #379ef3;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.tag{
  border: 1px black solid;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-inline: 4px;
  margin: 2px;
  background-color: red;
  color: white;
  font: bold;
}

.cardContainer{
  display: flex;
  align-items: stretch;
  width: 100%;
}